<div class="accordion">
    <ul class="accordion__list">
        <li class="accordion__item">
			<a class="accordion__trigger">Максимальний дохід<span class="expand">+</span></a>
			<div class="accordion__target">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, vero, ipsum nemo eligendi deserunt totam? Architecto dolorem, laboriosam, voluptates maiores unde, itaque esse aliquam nulla illo quasi cum quaerat. Doloribus.</p>
			</div>
		</li>
		<li class="accordion__item">
			<a class="accordion__trigger">З можливістю поповнення<span class="expand">+</span></a>
			<div class="accordion__target">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam natus molestias fugit dolorem consequatur ex recusandae molestiae quod nisi, non! Veritatis temporibus quas consequatur, ut maiores veniam porro expedita quia.</p>
			</div>
		</li>
		<li class="accordion__item">
			<a class="accordion__trigger">Комфортні<span class="expand">+</span></a>
			<div class="accordion__target">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam incidunt maxime ullam assumenda reprehenderit neque dolor placeat, eos reiciendis quaerat quidem ex minus sit doloremque fugiat dolorum. At a, harum.</p>
			</div>
		</li>
		<li class="accordion__item">
			<a class="accordion__trigger">Он-лайн<span class="expand">+</span></a>
			<div class="accordion__target">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio deleniti ea voluptas sunt ab necessitatibus veritatis, adipisci placeat distinctio impedit voluptatem, nihil sequi vero animi suscipit. Consequatur, quia porro quas?</p>
			</div>
		</li>						
		<li class="accordion__item">
			<a class="accordion__trigger font-black">Фонд гарантування вкладів фізичних осіб</a>
			<div class="accordion__target accordion-active">
				<p>Фонд є державною, спеціалізованого установою, яка виконує функції державного управлінняу сфері гарантуваннявкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантуваннявкладів фізичних осіб (<a href="#">Свідоцтво учасника фонду № 51</a>) з моменту його заснування. <a href="#" class="link-more">Дізнатися більше <span>→</span></a></p>
					<h4>Корисні посилання</h4>
					<ul class="accordion-link">
						<li><a href="#">Закон України «Про систему гарантування вкладів фізичних осіб»</a></li>
						<li><a href="#">Довідка про систему гарантування вкладів фізичних осіб</a></li>
						<li><a href="#">Освітній курс з фінансової грамотності ФГВФО</a></li>
					</ul>						
			</div>
		</li>
        <li class="accordion__item">
		    <a class="accordion__trigger font-black">Виплати коштів з Фонду гарантування вкладів<span class="expand">+</span></a>
			<div class="accordion__target">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur at repellendus aut provident maxime tempore nihil expedita maiores eveniet aperiam corrupti, quibusdam quas! Eaque numquam vel, aliquid, harum nobis voluptatem.</p>
			</div>
		</li>			
	</ul>
</div>
