<div class="accordion"> 
    <button class="accordion__item">Максимальний дохід</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, vero, ipsum nemo eligendi deserunt totam? Architecto dolorem, laboriosam, voluptates maiores unde, itaque esse aliquam nulla illo quasi cum quaerat. Doloribus.</p>
    </div>

    <button class="accordion__item">З можливістю поповнення</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, vero, ipsum nemo eligendi deserunt totam? Architecto dolorem, laboriosam, voluptates maiores unde, itaque esse aliquam nulla illo quasi cum quaerat. Doloribus.</p>
    </div>

    <button class="accordion__item">Комфортні</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, vero, ipsum nemo eligendi deserunt totam? Architecto dolorem, laboriosam, voluptates maiores unde, itaque esse aliquam nulla illo quasi cum quaerat. Doloribus.</p>
    </div>
    <button class="accordion__item">Он-лайн</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, vero, ipsum nemo eligendi deserunt totam? Architecto dolorem, laboriosam, voluptates maiores unde, itaque esse aliquam nulla illo quasi cum quaerat. Doloribus.</p>
    </div>
    <button class="accordion__item active">Фонд гарантування вкладів фізичних осіб</button>
    <div class="panel show">
        <p>Фонд є державною, спеціалізованого установою, яка виконує функції державного управлінняу сфері гарантуваннявкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантуваннявкладів фізичних осіб (<a href="#">Свідоцтво учасника фонду № 51</a>) з моменту його заснування. <a href="#" class="link-more">Дізнатися більше <span>→</span></a></p>
					<h4>Корисні посилання</h4>
					<ul class="accordion-link">
						<li><a href="#">Закон України «Про систему гарантування вкладів фізичних осіб»</a></li>
						<li><a href="#">Довідка про систему гарантування вкладів фізичних осіб</a></li>
						<li><a href="#">Освітній курс з фінансової грамотності ФГВФО</a></li>
					</ul>					
    </div>
    <button class="accordion__item">Виплати коштів з Фонду гарантування вкладів</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, vero, ipsum nemo eligendi deserunt totam? Architecto dolorem, laboriosam, voluptates maiores unde, itaque esse aliquam nulla illo quasi cum quaerat. Doloribus.</p>
    </div>
</div>
