<div class="header">
    <div class="header__left">
		<ul class="header__list">
			<li class="header__item is-active"><a href="#">Приватним клієнтам</a></li>
			<li class="header__item h-item"><a href="#">Юрідичним особам</a></li>
			<li class="header__item h-item"><a href="#">Про банк</a></li>
			<li class="header__item h-item"><a href="#">Інтернет-банкінг</a></li>
		</ul>
	</div>
	<div class="header__right">
		<div class="input-group">
			<form name="searchForm">	
				<input class="header__input" type="text" placeholder="ПОШУК">
				<i class="fa fa-search" aria-hidden="true"></i>
			</form>
		</div>
		<ul class="language">
			<li class="language__item is-active"><a href="#">UA</a></li>
			<li class="language__item"><a href="#">EN</a></li>
			<li class="language__item"><a href="#">RU</a></li>
			<li class="language__item"><a href="#">PL</a></li>
		</ul>
	</div>
</div>